small {
  font-size: small;
  text-decoration-thickness: 1px;
  color: var(--secondary);
  text-decoration-color: var(--secondary);
}

a:has(small),
small a {
  text-decoration-color: var(--secondary);
}

kbd {
  background-color: var(--background2);
  border-radius: 3px;
  border: 2px solid var(--table-row);
  box-shadow:
    0 1px 1px var(--table-border),
    0 2px 0 0 var(--table-row) inset;
  color: var(--foreground);
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

mark {
  color: var(--background);
  background-color: var(--link);
  padding: 0 4px;
}

mark:has(code):not(.codeblock) {
  background-color: var(--accent);
}

mark code:not(.codeblock) {
  color: var(--background);
}

a:has(mark),
mark a {
  text-decoration-color: var(--background2);
}
/* links */
a,
a:link,
a:visited {
  color: var(--foreground);
  &:hover {
    color: var(--link);
  }
}
a {
  text-decoration-thickness: 2px;
}
a:has(code) {
  text-decoration-color: var(--accent);
}
del:has(code) {
  text-decoration-color: var(--accent);
}

a:has(sup),
sup a {
  text-underline-offset: -4px;
}

/* simulate underline for link */
a:has(sub),
sub a {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--foreground);
  }
}
