.z-code {
  color: var(--foreground);
  background-color: var(--background2);
}
.z-punctuation,
.z-comment {
  color: var(--secondary);
}
.z-string,
.z-constant.z-numeric,
.z-constant.z-language {
  color: var(--link);
  font-weight: bold;
}
.z-storage,
.z-entity.z-name.z-tag,
.z-shell.z-function,
.z-keyword {
  color: var(--accent);
}
