@media (prefers-color-scheme: light) {
  :root {
    --foreground: #222222;
    --background: #eeeeee;
    --background2: #f4f4f4;
    --secondary: #808080;
    --tertiary: #dddddd;
    --accent: #418001;
    --link: #010101;
    --table-border: #d0d0d0;
    --table-row: #f7f7f7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #dddddd;
    --background: #161616;
    --background2: #131313;
    --accent: #cbefa6;
    --secondary: #999999;
    --tertiary: #444444;
    --link: #fefefe;
    --table-border: var(--tertiary);
    --table-row: #1e1e1e;
  }
}

.z-code {
  color: var(--foreground);
  background-color: var(--background2);
}
.z-punctuation {
  color: var(--secondary);
}

.z-comment {
  color: var(--secondary);
}
.z-string {
  color: var(--link);
  font-weight: bold;
}
.z-constant.z-numeric {
  color: var(--link);
  font-weight: bold;
}
.z-constant.z-language {
  color: var(--link);
  font-weight: bold;
}
.z-storage,
.z-entity.z-name.z-tag,
.z-keyword {
  color: var(--accent);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.secondary {
  color: var(--secondary);
}

a,
a:link,
a:visited {
  color: var(--link);
}

a:has(code) {
  text-decoration-color: var(--accent) !important;
}

a:hover {
  color: var(--link);
}

code:not(pre code) {
  color: var(--accent);
}

pre code {
  background-color: transparent;
  ::before {
    content: "";
  }
}

.footnote-definition sup {
  color: var(--secondary);
}

.footnotes-list li {
  color: var(--secondary);

  p {
    color: var(--foreground);
  }
}

hr {
  border: none;
}

table {
  th,
  td {
    border-color: var(--table-border);
  }

  thead,
  tr:nth-child(even) {
    background-color: var(--table-row);
  }
}
