@media (prefers-color-scheme: light) {
  :root {
    --foreground: #222;
    --background: #eee;
    --background2: #f4f4f4;
    --secondary: #808080;
    --tertiary: #ddd;
    --accent: #418001;
    --link: #010101;
    --table-border: #d0d0d0;
    --table-row: #f7f7f7;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ddd;
    --background: #161616;
    --background2: #131313;
    --accent: #cbefa6;
    --secondary: #999;
    --tertiary: #444;
    --link: #fefefe;
    --table-border: var(--tertiary);
    --table-row: #1e1e1e;
  }
}
body {
  color: var(--foreground);
  background-color: var(--background);
}
.secondary {
  color: var(--secondary);
}
a,
a:link,
a:visited {
  color: var(--link);
}
a:has(code) {
  text-decoration-color: var(--accent) !important;
}
a:hover {
  color: var(--link);
}
code:not(pre code) {
  color: var(--accent);
}
pre code {
  background-color: transparent;
}
pre code ::before {
  content: "";
}
.footnote-definition sup {
  color: var(--secondary);
}
.footnotes-list li {
  color: var(--secondary);
}
.footnotes-list li p {
  color: var(--foreground);
}
hr {
  border: none;
}
table th,
table td {
  border-color: var(--table-border);
}
table thead,
table tr:nth-child(even) {
  background-color: var(--table-row);
}
/* syntax highlighting */
.z-code {
  color: var(--foreground);
  background-color: var(--background2);
}
.z-punctuation,
.z-comment {
  color: var(--secondary);
}
.z-string,
.z-constant.z-numeric,
.z-constant.z-language {
  color: var(--link);
  font-weight: bold;
}
.z-storage,
.z-entity.z-name.z-tag,
.z-shell.z-function,
.z-keyword {
  color: var(--accent);
}

main {
  max-width: 65ch;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14pt;
  padding: 5em 25%;
}
.header-links a {
  margin-right: 0.5em;
}
a:last-of-type {
  margin-right: 0;
}
.space {
  margin-bottom: 2em;
}
.doublespace {
  margin-bottom: 4em;
}
.small {
  font-size: 75%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}
h2 {
  margin-top: 60px;
}
h3 {
  margin-top: 40px;
}
h4 {
  margin-top: 30px;
}
img {
  max-width: 100%;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 2px solid var(--tertiary);
}
code {
  padding: 0.1em 0.2em;
  font-size: 12pt;
}
pre {
  overflow: auto;
  padding: 0.3em;
}
pre code {
  padding: 0;
}
.footnotes {
  margin-top: 4em;
}
.footnotes-list {
  font-size: 75%;
}
table {
  border-spacing: 0;
}
table th,
table td {
  border-width: 1px;
  /* border-style: solid;
	 */
  border-left-style: none;
  padding: 0.6em;
}
table th:first-child,
table td:first-child {
  border-left-width: 6px;
  border-left-color: var(--background2);
  border-left-style: solid;
}
table th {
  border-top-width: 1px;
  /* border-top-style: solid;
	 */
}
table td {
  border-top-style: none;
}
@media all and (max-width: 1200px) {
  body {
    padding: 3em 15%;
  }
}
@media all and (max-width: 800px) {
  body {
    padding: 1em 1em;
  }
}
