@import "syntax.css";
@import "theme.css";
@import "fonts.css";

/* heading links */
.zola-anchor {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* links */
a,
a:link,
a:visited {
  color: var(--foreground);
  &:hover {
    color: var(--link);
  }
}
/* a:hover {
  color: var(--link);
}
a:last-of-type {
  margin-right: 0;
}

/* code */
code:not(pre code) {
  color: var(--accent);
}
pre code {
  background-color: transparent;
}
pre code ::before {
  content: "";
}
code {
  padding: 0.1rem 0.2rem;
  font-size: inherit;
  line-height: 1;
}
pre {
  overflow: auto;
  padding: 0.3em;
}
pre code {
  padding: 0;
}

/* footnote */
.footnote-definition sup {
  color: var(--secondary);
}
.footnotes-list li {
  color: var(--secondary);
}
.footnotes-list li p {
  color: var(--foreground);
}
.footnotes {
  margin-top: 4em;
}
.footnotes-list {
  font-size: 75%;
}

/* decoration */
hr {
  border: none;
}

img {
  max-width: 100%;
}

blockquote {
  margin-left: 0;
  padding-left: 0.4rem;
  border-left: 0.2rem solid var(--tertiary);
}

/* table */

table th,
table td {
  border-color: var(--table-border);
}
table thead,
table tr:nth-child(even) {
  background-color: var(--table-row);
}

/* container */

main {
  max-width: 65ch;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14pt;
  padding: 5em 25%;
  color: var(--foreground);
  background-color: var(--background);
}
@media all and (max-width: 1200px) {
  body {
    padding: 3em 15%;
  }
}
@media all and (max-width: 800px) {
  body {
    padding: 1em 1em;
  }
}

/* utility classes */

.secondary {
  color: var(--secondary);
}
.space {
  margin-bottom: 2em;
}
.doublespace {
  margin-bottom: 4em;
}
.small {
  font-size: 75%;
}

/* heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

h2 {
  margin-top: 60px;
}
h3 {
  margin-top: 40px;
}
h4 {
  margin-top: 30px;
}

/* table */
table {
  border-spacing: 0;
}
table th,
table td {
  border-width: 1px;
  border-left-style: none;
  padding: 0.6em;
}
table th {
  border-top-width: 1px;
}
table td {
  border-top-style: none;
}
