{% extends "page.html" %}

{% block title %}
    {{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
    <main>
        <h1>{{ section.title }}</h1>

        {% for year, posts in section.pages | group_by(attribute="year") %}
            <h2>{{ year }}</h2>
            <ul>
                {% for post in posts %}
                    <p class="secondary small date">
                      {% if post.date -%}
                        {{ post.date | date(format="%-d %B") }}
                      {%- endif %}
                    </p>
                    <li>
                      <a href="{{ post.permalink }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </main>
{% endblock content %}
